extends baseTemplate.pug 

block scriptsBlock
    script(src="../static/script.js")

block stylesBlock
    style
        include ../static/style.css
        include ../static/styleContact.css
block contentBody 
    div.container 
        h2 Contact Us
        form(action="", method="post",class='myForm')
            input(type="text" name='userName' class='myInput' placeholder='Enter your name') 
            input(type="text" name='phoneNo' class='myInput' placeholder='Enter your phone number') 
            input(type="text" name='emailId' class='myInput' placeholder='Enter email id') 
            input(type="text" name='address' class='myInput' placeholder='Enter your address') 
            input(type="text" name='desc' class='myInput' placeholder='Description') 
            button(type="submit" class='btn') 
                | Submit