doctype html
html
    head 
        title Webpage Title
        style 
            include ../static/style.css
    body 
        section#sideBar
            a(href="https://www.facebook.com" target='blank') 
                img(src="../static/sideBarImages/fb.png", alt="")
            a(href="https://www.linkedin.com/in/gagan-bhatia-83a85a214" target="blank") 
                img(src="../static/sideBarImages/lnkdin.png", alt="")
            a(href="https://www.twitter.com" target="blank") 
                img(src="../static/sideBarImages/twitter.png", alt="")
            a(href="https://www.github.com/GaganBhatia19" target='blank') 
                img(src="../static/sideBarImages/github.png", alt="")
        nav#navbar
           ul 
            li #[a(href="/")  Home]
            li 
                a(href="/services")  Services
            li 
                a(href="/about")  About Us
            li #[a(href="/contact")  Contact Us]
        section#pictureSection 
            div#welcomeContainer
                | Welcome to XYZ Programming Classes
            div#descriptionCont
                | Eat Sleep Code Repeat
        section#missionSection 
            | Our Mission
            div#cardCont
                div.missionCard
                    h3 Making Coding Easy
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium fuga optio officia eaque saepe possimus eligendi reiciendis unde quam. Ullam excepturi, id ratione a 
                div.missionCard
                    h3 Hands On tutorial to Latest Technologies
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex quis pariatur sapiente qui nostrum, nemo libero laudantium impedit autem nisi, molestiae alias. Archite
                div.missionCard
                    h3 Producing Geeks
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem saepe explicabo deleniti hic, ipsum, adipisci molestiae totam eius laudantium autem quidem minus fuga labo
        section#languageSection 
            | Technologies Taught
            div#languagePics
                img(src="../static/languageImages/cpp.png", alt="")
                img(src="../static/languageImages/java.png", alt="")
                img(src="../static/languageImages/mngDB.png", alt="")
                img(src="../static/languageImages/nodejs.png", alt="")
                img(src="../static/languageImages/python.png", alt="")
                img(src="../static/languageImages/rjs.png", alt="")
        footer#footer 
            | © Developed 👨‍💻 by Gagan Bhatia
        script 
            include ../static/script.js